@use '../base/colors' as *;

#about {
	background-color: $color--white--2;
}

.about--me {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h1 {
		color: $text--color--purple;
	}

	&--container {
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: center;
	}

	&--content {
		display: grid;
        grid-template-rows: 1fr 1fr 1fr;
	}
}
