// Steps Grid SECTION

.steps--grid{
	display: grid;
	background: #eee;
	background-clip: border-box;
	z-index: 1;
	width: 100%;
	margin: 0px auto;
	display: grid;
	justify-items: center;
	align-items: center;
	justify-content: space-around;
	gap: 5vh;

	.item {
		width: 100%;
		display: flex;
		justify-items: bottom;
		z-index: 3;
		align-items: center;
		height: 100%;

		&--1 {
			order: 1;
		}

		&--2 {
			order: 3;
		}

		&--3 {
			order: 2;
		}

		&--4 {
			order: 5;
		}

		&--5 {
			order: 4;
		}

		&--6 {
			order: 7;
		}

		&--7 {
			order: 6;
		}
		@media only screen and (max-width: 980px) {
			&--8 {
			display: none;
			}

			&--line--1 {
				display: none;
			}

			&--line--2 {
				display: none;		
			}
		}
	}

}

@media only screen and (min-width: 980px) {
.steps--grid {
	background: #eee;
	background-clip: border-box;
	z-index: 1;
	width: 100%;
	margin: 0px auto;
	display: grid;
	grid-template-columns: auto repeat(8, 1fr) auto;
	grid-template-rows: repeat(8, auto);
	justify-items: center;
	justify-content: space-evenly;
	align-items: center;
	column-gap: 1rem;
	row-gap: 5vh;
}
@mixin steps--grid--left {
	grid-column: 3 / 6;
}

@mixin steps--grid--right {
	grid-column: 6 / 9;
}
	.item {
		width: 100%;
		display: flex;
		justify-items: bottom;
		z-index: 3;
		align-items: center;
		height: 100%;

		&--1 {
			// background-color: orangered;
			grid-column: 3 / 9;
			grid-row: 1 / 2;
		}

		&--2 {
			// background-color: yellowgreen;
			@include steps--grid--left();
			grid-row: 3 / 4;
		}

		&--3 {
			// background-color: blueviolet;
			@include steps--grid--right();
			grid-row: 3 / 4;
		}

		&--4 {
			// background-color: palevioletred;
			@include steps--grid--right();
			grid-row: 5 / 6;
		}

		&--5 {
			// background-color: royalblue;
			@include steps--grid--left();
			grid-row: 5 / 6;
		}

		&--6 {
			// background-color: goldenrod;
			@include steps--grid--left();
			grid-row: 7 / 8;
		}

		&--7 {
			// background-color: red;
			@include steps--grid--right();
			grid-row: 7 / 8;
		}

		&--8 {
			width: 100%;
			max-width: 100% !important;
			background-color: #000;
			grid-column: 5 / 11;
			grid-row: 2 / 8;
			height: 75% !important;
			margin-bottom: auto !important;
			z-index: 1;
		}

		&--line--1 {
			grid-row: 4 / 5;
			grid-column: 5 / 9;
		}

		&--line--2 {
			grid-row: 6 / 7;
			grid-column: 1 / 6;
		}
	}
}
