@use "../abstracts/_abstracts" as *;

// BUTTON SECTION
.button-primary {
	display: inline-block;
	font-family: var(--ff-body);
	font-size: var(--fs-400);
	line-height: 1.6;
	padding: 15px 30px;
	font-size: 15px;
	// text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 600;
	color: white;
	background-color: $color-primary;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;

	// &:hover {
	// transform: translateY(-3px);
	// background-color: $color-primary;
	// box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
	// color: #fff;
	//   }

	&:active {
		transform: translateY(2px);
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	}
}

.button-secondary {
	display: inline-block;
	font-family: var(--ff-body);
	font-size: var(--fs-400);
	line-height: 1.6;
	padding: 10px 30px;
	color: #000;
	background-color: #f2f2f2;
	border: none;
	border-radius: 45px;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;

	// &:hover {
	// transform: translateY(-3px);
	// background-color: $color-primary;
	// color: white;
	// box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	// color: #fff;
	// }

	&:active {
		transform: translateY(2px);
		box-shadow: none;
	}
}

// Radial Active SECTION
.price--switch--box {
	span {
		color: $color-primary;
	}
	h2{
		padding-bottom: 0px !important;
	}
}

.radio {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	margin-right: 10px;

	&--input {
		display: none;
	}

	&--radio {
		width: 1.75em;
		height: 1.75em;
		border: 0;
		border-radius: 50%;
		margin-right: 10px;
		background-color: $color-grey;
		box-shadow: inset 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
		box-sizing: border-box;

		&::after {
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			background: $color-primary;
			border-radius: 50%;
			transform: scale(0);
			transition: transform 0.15s;
			box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
		}
	}
}

.radio--input:checked + .radio--radio::after {
	transform: scale(1);
}
