@use '../base/colors' as *;

.nav {
	background-color: #ff9671;
	border-radius: 10px 0px 0px 10px;
	padding: 1rem;
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	gap: 2vw;
	justify-content: flex-end;
	z-index: 1;

	svg {
		width: 2rem;
		height: 1.5rem;
		color: white;
		cursor: pointer;
	}

	ul {
		display: flex;
		gap: 2vw;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a {
		color: $color--white--1;

		&:hover {
			color: $color--white--2;
		}
	}

	.nav--btn {
		padding: 5px;
		cursor: pointer;
		background: transparent;
		border: none;
		outline: none;
		color: $color--white--1;
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.nav--btn {
		display: flex !important;
	}
	.nav--links {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: $color--4;
		display: grid !important;
		transform: translateY(-100vh);
	}
	nav ul {
		display: grid;
		align-items: center;
		transition: 300ms ease-in-out;
		justify-content: center;
	}

	.nav--btn--close {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	.responsive--nav {
		transform: none !important;
	}
}
