@use '../base/colors' as *;

section {
	padding-top: 8vh;
	height: 100vh;

	> h2,
	> h1 {
		text-align: center;
		color: $text--color--purple;
	}

	> h5 {
		text-align: center;
		color: $text--color--grey;
	}
}
