//Font Colors
$text--color--black: #191b1d;
$text--color--grey: #979797;
$text--color--purple: #845ec2;

// Whites
$color--white--1: white;
$color--white--2: #f5f5f5;

// Color Scale
$color--1: #845ec2;
$color--2: #d65db1;
$color--3: #ff6f91;
$color--4: #ff9671;
$color--5: #ffc75f;
$color--6: #f9f871;
